.text-green {
    color: #04cc40;
}

img {
  /*width: 7%;
  height: 7%;*/
  padding: 5px;
}

.animateScale {
    transition: all 0.5s;
}

.animateScale:hover {
    transform: scale(1.2);
}

.form-group {
  padding :0 15px;
  line-height: 80px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
