<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97378340-1', 'auto');
  ga('send', 'pageview');
  ga('set', 'userId', {{uidCT}});

</script>
<md-toolbar>
  <img src="assets/images/logoGrande.png" alt="">
  <a (click)="navigate()" md-button *ngIf="uidDQ != null" ><md-icon>arrow_back</md-icon>Companheiros</a>
  <span class="example-spacer"></span>
  <!-- <md-input-container>
    <input mdInput placeholder="Busca" [mdAutocomplete]="auto" (input)="search($event.target.value)">
  </md-input-container> -->
  <md-autocomplete  #auto="mdAutocomplete">
    <md-option *ngFor="let user of filteredUsers" [value]="user.name" (click)="routerComponent(user.id)">
      <a (click)="routerComponent(user.id)">{{ user.name }}</a>
    </md-option>
  </md-autocomplete>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Configurações</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Sair</span>
    </button>
  </md-menu>
</md-toolbar>
