<footer>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <ul class="list-inline">
          <li><p>Copyright &copy;</p></li>
          <li><a href="http://www2.joinville.udesc.br/~larva/portal/index.php" target="_blank">LARVA</a></li>
          <li><a href="http://www.cct.udesc.br/" target="_blank">Udesc</a></li>
          <li><a (click)="openDialogCredits()" target="_blank">Créditos</a></li>
          <li><a (click)="openDialogDisclosure()" target="_blank">Termos de uso</a></li>
          <li><p>Website 2017</p></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
