<div class="row">
    <div class="col-xs-10 col-xs-offset-2">
        <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="user-name">Nome Completo</label>
                    <input type="text"
                           required
                           #name="ngModel"
                           class="form-control"
                           (ngModel)="name"
                           name="name">
                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-email">E-mail (Login de acesso)</label>
                    <input type="text"
                           required
                           #email="ngModel"
                           class="form-control"
                           (ngModel)="email"
                           name="email">
                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-password">Senha (Para acessar o app)</label>
                    <input type="password"
                           required
                           #password="ngModel"
                           class="form-control"
                           (ngModel)="password"
                           name="password">
                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-passwordConfirmation">Confirme a senha</label>
                    <input type="password"
                           required
                           #passwordConfirmation="ngModel"
                           class="form-control"
                           (ngModel)="passwordConfirmation"
                           name="passwordConfirmation">
                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-phone">Telefone</label>
                    <input type="tel"
                           placeholder="(xx)xxxxxxxx"
                           pattern="^\([1-9]{2}\)[2-9][0-9]{3,4}[0-9]{4}$"
                           class="form-control"
                           (ngModel)="phone"
                           name="phone"
                           #phoneValid="ngModel">
                    <div *ngIf="!phoneValid.valid">
                        Formato: (xx)xxxxxxxx
                    </div>

                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-phoneContact">Telefone de outro contato</label>
                    <input type="tel"
                           placeholder="(xx)xxxxxxxx"
                           pattern="^\([1-9]{2}\)[2-9][0-9]{3,4}[0-9]{4}$"
                           class="form-control"
                           (ngModel)="phoneContact"
                           name="phoneContact"
                           #phoneContactValid="ngModel">
                    <div *ngIf="!phoneContactValid.valid">
                        Formato: (xx)xxxxxxxx
                    </div>
                </div>


                <div class="col-sm-5 form-group">
                    <div class="radio" *ngFor="let gender of genders">
                        <label>
                            <input type="radio"
                                   name="gender"
                                   [ngModel]="gender"
                                   [value]="gender">
                            {{gender}}
                        </label>
                    </div>
                </div>

                <div class="col-sm-5 form-group">
                    <label for="user-birthday">Data de Nascimento</label>
                    <input type="date"
                           required
                           #birthday="ngModel"
                           class="form-control"
                           (ngModel)="birthday"
                           name="birthday">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!formData.valid">Criar conta</button>
                </div>
            </div>
        </form>
    </div>
</div>
