<div class="row">
    <div class="col-xs-10 col-xs-offset-2">
        <form [formGroup]='newUserForm' (ngSubmit)="onSubmit(newUserForm); $event.preventDefault()" novalidade >
            <div class="row">
                <div class="col-sm-5">
                  <label><md-icon>person</md-icon> Nome Completo</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Digite o nome"
                      name="name"
                      formControlName="name">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.name">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.name}}
                  </div>
                </div>

                 <div class="col-sm-5">
                  <label><md-icon>email</md-icon> E-mail (Login de acesso)</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Insira o e-mail"
                      name="email"
                      formControlName="email">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.email">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.email}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon>vpn_key</md-icon> Senha (Para acessar o app)</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Insira a senha"
                      name="password"
                      formControlName="password"
                      type="password">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.password">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.password}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon>vpn_key</md-icon> Confirme a senha</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Insira novamente a senha"
                      name="confirmPassword"
                      type="password"
                      formControlName="confirmPassword">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.confirmPassword">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.confirmPassword}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon>phone</md-icon> Telefone</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Insira o telefone"
                      name="text"
                      formControlName="telephone">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.telephone">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.telephone}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon>phone</md-icon> Telefone de outro contato</label>
                  <br>
                  <md-input-container class="form-width">
                    <input mdInput placeholder="Insira o telefone de um contato"
                      name="text"
                      formControlName="telephoneOther">
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.telephoneOther">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.telephoneOther}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon svgIcon="gender"></md-icon>Sexo</label>
                  <br>
                  <md-radio-group formControlName="gender" >
                    <md-radio-button value="Masculino">
                      Masculino
                    </md-radio-button>
                    <md-radio-button value="Feminino">
                      Feminino
                    </md-radio-button>
                  </md-radio-group>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.gender">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.gender}}
                  </div>
                </div>

                <div class="col-sm-5">
                  <label><md-icon>date_range</md-icon> Data de Nascimento</label>
                  <br>
                  <md-input-container >
                    <input mdInput
                      type="date"
                      name="date"
                      formControlName="birthday"
                      required>
                  </md-input-container>
                  <div class="alert alert-danger" role="alert" *ngIf="formErrors.birthday">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     {{formErrors.birthday}}
                  </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="colorButton" [disabled]="!newUserForm.valid" md-raised-button>Criar conta</button>
            </div>
        </form>
    </div>
</div>
