<div class="row">
  <div class="col-md-10" >
    <div >
      <canvas
        baseChart width="900" height="500"
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        chartType="line">
      </canvas>
    </div>
  </div>
    5 = <img src="assets/images/iconsQuestions/icon5.svg">
    <br>
    <br>
    4 = <img src="assets/images/iconsQuestions/icon4.svg">
    <br>
    <br>
    3 = <img src="assets/images/iconsQuestions/icon3.svg">
    <br>
    <br>
    2 = <img src="assets/images/iconsQuestions/icon2.svg">
    <br>
    <br>
    1 = <img src="assets/images/iconsQuestions/icon1.svg">
</div>
