<button class="close" md-icon-button md-dialog-close>
  <md-icon>close</md-icon>
</button>
<div class="row" align="center">
  <div class="col-md-2 col-md-offset-1" >
    5 = <img src="assets/images/iconsQuestions/icon5.svg">
  </div>
  <div class="col-md-2" >
    4 = <img src="assets/images/iconsQuestions/icon4.svg">
  </div>
  <div class="col-md-2" >
    3 = <img src="assets/images/iconsQuestions/icon3.svg">
  </div>
  <div class="col-md-2" >
    2 = <img src="assets/images/iconsQuestions/icon2.svg">
  </div>
  <div class="col-md-2" >
    1 = <img src="assets/images/iconsQuestions/icon1.svg">
  </div>
  <div class="col-md-12" >
    <div >
      <canvas
        baseChart
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        chartType="line">
      </canvas>
    </div>
  </div>
</div>
