<md-toolbar>
  <img src="assets/images/logoGrande.png" alt="">
  <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
          <li><a routerLink="/signin" routerLinkActive="active" md-button>Entrar</a></li>
          <li><a routerLink="/signup" routerLinkActive="active" md-button>Cadastrar</a></li>
          <li><a routerLink="/whoUsing" routerLinkActive="active" md-button>Quem esta usando</a></li>
          <li><a (click)="openDialogCredits()" md-button>Créditos</a></li>
          <li><a routerLink="/help" routerLinkActive="active" md-button>Ajuda</a></li>
      </ul>
  </div>
</md-toolbar>
