<rb-header-login></rb-header-login>
<div class="col-md-10 col-md-offset-1">
  <h3>Entre com os dados de acesso</h3>
  <br>
  <form [formGroup]='signinForm' (ngSubmit)="login(signinForm); $event.preventDefault()" novalidade>
      <div>
          <label for="email"><md-icon>email</md-icon> E-Mail:</label>
          <br>
          <md-input-container class="full-width">
            <input mdInput placeholder="Insira o e-mail"
              required
              name="email"
              formControlName="email">
          </md-input-container>
          <div class="alert alert-danger" role="alert" *ngIf="formErrors.email">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
             {{formErrors.email}}
          </div>
      </div>
      <div>
          <label for="password"><md-icon>vpn_key</md-icon> Senha</label>
          <br>
          <md-input-container class="full-width">
            <input type="password" mdInput
              required
              placeholder="Insira a senha"
              name="password"
              formControlName="password">
          </md-input-container>
             <div class="alert alert-danger" role="alert" *ngIf="formErrors.password">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               <span class="sr-only">Error:</span>
                {{formErrors.password}}
             </div>
      </div>
      <br>
      <button type="submit" class="colorButton" [disabled]="signinForm.invalid" md-raised-button>Entrar</button>
  </form>
  <br>
  <button md-button>Esqueceu a senha?</button>
</div>
