<rb-headerLogin></rb-headerLogin>
<div class="col-md-10 col-md-offset-1">
  <h3>Entre com os dados de acesso</h3>
  <form #formData='ngForm' (ngSubmit)="login(formData)" novalidade>
      <div [ngClass]="getFormGroupClass(email.valid,email.pristine)">
          <label for="email" class="form-control-label">E-Mail</label>
          <input type="text" placeholder="Insira o e-mail"
                    [ngClass]="getFormControlClass(email.valid,email.pristine)"
                     required
                     #email="ngModel"
                     name="email"
                     (ngModel)="email">
        <div class="alert alert-danger" role="alert" [hidden]="email.valid || email.pristine">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Entre com um e-mail valido
        </div>
      </div>
      <div [ngClass]="getFormGroupClass(email.valid,email.pristine)">
          <label for="password" class="form-control-label">Password</label>
          <input type="password"  placeholder="Insira a senha"
                    [ngClass]="getFormControlClass(email.valid,email.pristine)"
                     required
                     (ngModel)="password" name="password"
                     #password="ngModel" pattern=".{6,}">
             <div class="alert alert-danger" role="alert" [hidden]="password.valid || password.pristine">
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
               <span class="sr-only">Error:</span>
               Digite uma senha válida com no minimo 6 digitos
             </div>
      </div>
      <br>
      <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Entrar</button>
  </form>
</div>
