<rb-header-login></rb-header-login>
<div class="col-md-10 col-md-offset-1">
  <h3>Preencha o cadastro</h3>
  <form [formGroup]='signupForm' (ngSubmit)="onSignup(signupForm); $event.preventDefault()" novalidade>

        <label for="username"><md-icon>store_mall_directory</md-icon> Nome da instituição</label>
        <md-input-container class="full-width">
          <input mdInput placeholder="Digite o nome da CT"
            required
            name="username"
            formControlName="username">
        </md-input-container>

        <label for="adress"><md-icon>map</md-icon> Cidade da instituição</label>
        <md-input-container class="full-width">
          <input mdInput placeholder="Digite o nome da cidade"
            required
            name="adress"
            formControlName="adress">
        </md-input-container>

        <label for="telephone"><md-icon>phone</md-icon> Telefone</label>
        <md-input-container class="full-width">
          <input mdInput placeholder="Digite um telefone"
            required
            name="telephone"
            formControlName="telephone">
        </md-input-container>

         <label for="email"><md-icon>email</md-icon> E-mail</label>
         <md-input-container class="full-width">
           <input mdInput placeholder="Digite o e-mail"
             required
             name="email"
             formControlName="email">
         </md-input-container>
          <!-- <span *ngIf="!email.pristine && email.errors != null ">E-mail invalido</span> -->

          <label for="password"><md-icon>vpn_key</md-icon> Senha</label>
          <md-input-container class="full-width">
            <input mdInput placeholder="Digite a senha"
              required
              name="password"
              type="password"
              formControlName="password">
          </md-input-container>

          <label for="confirm-password"><md-icon>vpn_key</md-icon> Confirmação de senha</label>
          <md-input-container class="full-width">
            <input mdInput placeholder="Digite novamente a senha"
              required
              name="confirmPassword"
              type="password"
              formControlName="confirmPassword">
          </md-input-container>
          <md-checkbox formControlName="checkBoxDisclosure" required [(ngModel)]="checkedCheckBox">
            Eu li e aceito os <a>termos de uso</a>.
          </md-checkbox>
          <br>
          <br>
          <button type="submit" class="colorButton" [disabled]="!signupForm.valid || !checkedCheckBox" md-raised-button>Cadastrar</button>
  </form>
  <div style="padding: 35px;"></div>
</div>
