.graphics-icon md-icon {
  /*align: center;*/
  padding-left: 5px;
  font-size: 40px;
}

.graphics-icon p {
  font-size: small;
  /*padding-left: 5px;*/
}

.customPadding {
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}

.answersIcon{
  height: auto;
  width: 35%;
  position:absolute;
  /*top: 18%;*/
  right: 5%;
}
