<rb-header></rb-header>
<div class="col-md-offset-1 col-md-10 list-group-item clearfix" align="center" *ngIf="users.length == 0">
  <h2>Nenhum companheiro encontrado, adicione um apertando no botão "+" acima.</h2>
</div>
<div class="col-md-12">
    <ul class="list-group list-unstyled">
        <li *ngFor="let user of users | async">
          <div class="col-md-offset-1 col-md-10">
            <a (click)="routerComponent(user.id)" class="list-group-item clearfix">
              <h1>{{user.name}}</h1>
            </a>
          </div>
        </li>
    </ul>
</div>
