<rb-header></rb-header>
<div class="full-width">
  <md-progress-spinner
    *ngIf="isSpinner"
    class="centerSpinner"
    color="accent"
    mode="indeterminate">
  </md-progress-spinner>
</div>

<div class="col-md-12" *ngIf="!isSpinner">

    <ul class="list-group list-unstyled">

      <li *ngIf="users.length == 0" class="col-md-offset-1 col-md-10" align="center">
        <h2>Nenhum companheiro encontrado, adicione apertando no botão
          <button (click)="openDialog()" md-fab><md-icon>add</md-icon></button></h2>
      </li>
      <li *ngIf="users.length != 0">
        <form class="col-md-offset-1 col-md-10" role="search">
            <md-input-container class="full-width">
                <input type="text" mdInput (input)="search($event.target.value)" placeholder="Busca">
            </md-input-container>
        </form>
      </li>
      <li *ngFor="let user of filteredUsers" >
        <div class="col-md-offset-1 col-md-10" >
          <a (click)="routerComponent(user.id)" style="text-decoration: none !important;">
            <div class="paddingCard">
              <md-card class="colorCard " >
                    <h2>{{user.name}}
                      <img *ngIf="user.averageAnswers > 0" src="assets/images/iconsQuestions/icon{{user?.averageAnswers}}.svg" alt="" class="answersMedianIcon"></h2>
              </md-card>
            </div>

          </a>
        </div>
        <div style="padding: 40px;color: white">.</div>
      </li>
    </ul>
    <div style="padding: 35px;color: white">.</div>
    <div *ngIf="users.length != 0">
      <button (click)="openDialog()" md-fab  class="buttonAdd"><md-icon>add</md-icon></button>
    <div>
</div>
