a {
  cursor: pointer;
}

.buttonAdd {
  display: inline-block;
  position: fixed;
  bottom: 55px;
  right: 50px;
}

.answersMedianIcon {
  height: auto;
  width: 5%;
  position:absolute;
  top: 18%;
  right: 5%;
}
