<div class="row">
  <div class="col-md-10" >
    <div >
      <canvas
        baseChart width="900" height="500"
        [datasets]="lineChartData"
        [options]="lineChartOptions"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        chartType="line">
      </canvas>
    </div>
  </div>
  <!-- <div *ngFor="let i of [5,4,3,2,1]"> -->

    5 = <img src="assets/images/iconsQuestions/icon5.jpg">
    <br>
    <br>
    4 = <img src="assets/images/iconsQuestions/icon4.jpg">
    <br>
    <br>
    3 = <img src="assets/images/iconsQuestions/icon3.jpg">
    <br>
    <br>
    2 = <img src="assets/images/iconsQuestions/icon2.jpg">
    <br>
    <br>
    1 = <img src="assets/images/iconsQuestions/icon1.jpg">
  <!-- </div> -->
</div>
