<button class="close" md-icon-button md-dialog-close>
  <md-icon>close</md-icon>
</button>
<p>
  Creditos:
  <br>
  <br>
  Layout: André Nunes
  <br>
  <br>
  Funcionalidades: André Nunes e Marcelo da Silva Hounsell
  <br>
  <br>
  Programação: André Nunes
  <br>
  <br>
  Imagens: Ana Clara Falks e br.freepik.com
  <br>
  <br>
  Termos de uso: pt.shopify.com
  <br>
  <br>
  "Agradecimentos especiais a Alan Indio Serrano (Médico Psiquiatra, Dr.),
Camila Biribio Woerner (Assistente Social, Mestra) e Marcilei Kraft (Psicóloga, Esp.),
pelas valiosas contribuições e comentários ao longo do desenvolvimento do sistema ConneCT"
</p>
