/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
.animateScale {
    transition: all 0.5s;
}

.animateScale:hover {
    transform: scale(1.2);
}

.colorButton {
  background-color: #ffd740 !important;
}

.centerSpinner {
  width: 50%;
  margin: 0 auto;
}

.graphics-icon {
  width: 100px;
  height: 81px;

  /*float: left;*/
  /*text-align: center;*/
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.colorCard {
  background-color: #fafafa !important;
}

.paddingCard {
  padding-bottom: 15px !important;
}
