.logo_udesc {
  width: 40%;
  height: 40%;
  padding-right: 20px;
}

.logo li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: center;
}

.logo_larva {
  width: 15%;
  height: 15%;
  padding-right: 20px;
}



.logo_alta {
  width: 15%;
  height: 15%;
  padding-right: 20px;
}
