<rb-header-login></rb-header-login>
<div class="container">
    <div class="row" align="center">
        <div class="col-md-10 col-md-offset-1" style="padding-top: 50px;">
          <h4>Comunidade Terapêutica</h4>
          <ul class="list-unstyled">
            <li>Faça o cadastro da sua comunidade preenchendo todos os dados solicitados</li>
            <li>Entre utilizando o e-mail e senha cadastrados</li>
            <li>Cadastre um novo companheiro e escolha junto do companheiro um e-mail e senha</li>
            <li>Passe o e-mail com a senha para que o companheiro possa utilizar o aplicativo.</li>
          </ul>
            <br>
            <br>
          <h4>Companheiro</h4>
          <ul class="list-unstyled">
            <li>Abra pelo celular o site app-connect.com.br ou baixe o aplicativo na Google Play</li>
            <li>Entre com o e-mail e senha cadastrados pelo técnico da CT</li>
            <li>Responda as questões e se divirta como um jogador de futebol.</li>
          </ul>
          <img src="assets/images/logo_udesc.jpg" class="logo_home">
        </div>
    </div>
</div>
