<rb-header-login></rb-header-login>
<div class="container">
    <div class="row" align="center">
      <h2>Sistema para acompanhamento diário de Dependentes Químicos com seu grupo de acompanhamento</h2>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jMcdnrhqy3w" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
<div align="center">
  <div class="center" >
    <ul class="logo">
      <li><a target="_blank" href="http://www2.joinville.udesc.br/~larva/portal/index.php"><img src="assets/images/logo_larva.png" class="logo_larva"></a></li>
      <li><a target="_blank" href="http://www.cct.udesc.br/"><img src="assets/images/logo_udesc.jpg" class="logo_udesc"></a></li>
      <li><a target="_blank" href="https://altastudio.com.br"><img src="assets/images/alta.jpg" class="logo_alta"></a></li>
    </ul>
  </div>
</div>
