<rb-header-login></rb-header-login>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h4>Comunidade Terapêutica</h4>
          Faça o cadastro da sua comunidade preenchendo todos os dados solicitados;
          Entre utilizando o e-mail e senha cadastrado;
          Cadastre um novo companheiro e escolha junto do companheiro um e-mail e senha;
          Passe o e-mail com a senha para que o companheiro possa utilizar no aplicativo.
          <br>
          <br>
          <h4>Companheiro</h4>
          Abra pelo celular o site app-connect.com.br ou baixe o aplicativo na Google Play
          Entre com o e-mail e senha cadastrado pelo técnico da CT
          Responda as questões e se divirta como jogador de futebol.
        </div>
    </div>
</div>
